apiVersion: v1
kind: Secret
metadata:
  name: transfer-db-secret
  namespace: dev
type: Opaque
stringData:
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: password
  POSTGRES_DB: transfer

---
apiVersion: v1
kind: Service
metadata:
  name: transfer-db
  namespace: dev
spec:
  selector:
    app: transfer-db
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: transfer-db
  namespace: dev
spec:
  serviceName: transfer-db
  replicas: 1
  selector:
    matchLabels:
      app: transfer-db
  template:
    metadata:
      labels:
        app: transfer-db
    spec:
      containers:
        - name: postgres
          image: postgres:17.6-alpine3.22
          ports:
            - containerPort: 5432
              name: postgres
          envFrom:
            - secretRef:
                name: transfer-db-secret
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
          readinessProbe:
            exec:
              command: ["sh", "-c", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            exec:
              command: ["sh", "-c", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
            initialDelaySeconds: 20
            periodSeconds: 10

  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 512Mi
