spring:
  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}
      client:
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI}
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: cash-service
              uri: ${CASH_SERVICE_URL}
              predicates:
                - Path=/customers/me/deposits,/customers/me/withdrawals

            - id: transfer-service
              uri: ${TRANSFER_SERVICE_URL}
              predicates:
                - Path=/customers/me/transfers

            - id: accounts-service
              uri: ${ACCOUNTS_SERVICE_URL}
              predicates:
                - Path=/customers/me,/customers/me/profile,/customers/me/recipient-candidates,/wallets/me
