spring:
  application:
    name: cash-service
  config:
    import: optional:configserver:http://localhost:8888
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true
server:
  port: ${SERVER_PORT:8082}