spring:
  application:
    name: transfer-service
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true
  threads:
    virtual:
      enabled: true
server:
  port: ${SERVER_PORT:8083}
mybank:
  clients:
    accounts-service:
      base-url: http://localhost:8081
    notifications-service:
      base-url: http://localhost:8085
