spring:
  application:
    name: notifications-service
  threads:
    virtual:
      enabled: true
server:
  port: ${SERVER_PORT:8085}
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka