apiVersion: v1
kind: ConfigMap
metadata:
  name: accounts-service-config
  namespace: dev
data:
  KEYCLOAK_ISSUER_URI: "http://${HOST_IP}:18080/realms/my-bank"
  SPRING_DATASOURCE_URL: "jdbc:postgresql://accounts-db:5432/accounts"
  LIQUIBASE_ENABLED: "true"

---
apiVersion: v1
kind: Secret
metadata:
  name: accounts-service-secret
  namespace: dev
type: Opaque
stringData:
  SPRING_DATASOURCE_USERNAME: "admin"
  SPRING_DATASOURCE_PASSWORD: "password"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: accounts-service
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: accounts-service
  template:
    metadata:
      labels:
        app: accounts-service
    spec:
      containers:
        - name: app
          image: accounts-service:0.0.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          envFrom:
            - configMapRef:
                name: accounts-service-config
            - secretRef:
                name: accounts-service-secret
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: accounts-service
  namespace: dev
spec:
  type: ClusterIP
  selector:
    app: accounts-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
