apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  namespace: dev
data:
  KEYCLOAK_ISSUER_URI: "http://${HOST_IP}:18080/realms/my-bank"
  CASH_SERVICE_URL: "http://cash-service:8080"
  TRANSFER_SERVICE_URL: "http://transfer-service:8080"
  ACCOUNTS_SERVICE_URL: "http://accounts-service:8080"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: app
          image: api-gateway:0.0.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          envFrom:
            - configMapRef:
                name: api-gateway-config
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: dev
spec:
  type: ClusterIP
  selector:
    app: api-gateway
  ports:
    - name: http
      port: 8080
      targetPort: 8080
