apiVersion: v1
kind: ConfigMap
metadata:
  name: front-controller-config
  namespace: dev
data:
  KEYCLOAK_ISSUER_URI: "http://${HOST_IP}:18080/realms/my-bank"
  API_GATEWAY_URL: "http://api-gateway:8080"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-controller
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front-controller
  template:
    metadata:
      labels:
        app: front-controller
    spec:
      containers:
        - name: app
          image: front-controller:0.0.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          envFrom:
            - configMapRef:
                name: front-controller-config
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: front-controller
  namespace: dev
spec:
  type: NodePort
  selector:
    app: front-controller
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30080
