apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-service
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications-service
  template:
    metadata:
      labels:
        app: notifications-service
    spec:
      containers:
        - name: app
          image: notifications-service:0.0.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: notifications-service
  namespace: dev
spec:
  type: ClusterIP
  selector:
    app: notifications-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
