fullnameOverride: "notifications-service"

image:
  repository: notifications-service
  tag: "0.0.1"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  port: 8080

probes:
  readiness:
    initialDelaySeconds: 10
    periodSeconds: 5
  liveness:
    initialDelaySeconds: 20
    periodSeconds: 10
